# -----------------------------------------------------------
# Cockroachdb settings
# -----------------------------------------------------------
PG__USER=svc_storage
PG__DBNAME=arrow
PG__HOST=cockroachdb
PG__PORT=26257
PG__SSLMODE=require
DB_CA_CERT=/cockroach/ssl/certs/ca.crt
DB_CLIENT_CERT=/cockroach/ssl/certs/client.svc_storage.crt
DB_CLIENT_KEY=/cockroach/ssl/certs/client.svc_storage.key.pk8

# -----------------------------------------------------------
# Redis Settings
# -----------------------------------------------------------
REDIS_PORT=6379
REDIS_HOST=redis

# -----------------------------------------------------------
# svc-cargo
# -----------------------------------------------------------
CARGO_IMAGE=ghcr.io/arrow-air/svc-cargo
CARGO_TAG=develop
CARGO_PORT_GRPC=50000
CARGO_PORT_REST=8000

# -----------------------------------------------------------
# svc-assets
# -----------------------------------------------------------
ASSETS_IMAGE=ghcr.io/arrow-air/svc-assets
ASSETS_TAG=develop
ASSETS_PORT_GRPC=50004
ASSETS_PORT_REST=8004

# -----------------------------------------------------------
# svc-pricing
# -----------------------------------------------------------
PRICING_IMAGE=ghcr.io/arrow-air/svc-pricing
PRICING_TAG=develop
PRICING_PORT_GRPC=50001

# -----------------------------------------------------------
# svc-scheduler
# -----------------------------------------------------------
SCHEDULER_IMAGE=ghcr.io/arrow-air/svc-scheduler
SCHEDULER_TAG=develop
SCHEDULER_PORT_GRPC=50002

# -----------------------------------------------------------
# svc-storage
# -----------------------------------------------------------
STORAGE_IMAGE=ghcr.io/arrow-air/svc-storage
STORAGE_TAG=develop
STORAGE_PORT_GRPC=50003
# svc-storage accepts the following server arguments:
#   init_psql rebuild_psql populate_memdb
# multiple arguments are accepted
STORAGE_SERVER_ARGS=init_psql

# -----------------------------------------------------------
# svc-telemetry
# -----------------------------------------------------------
TELEMETRY_IMAGE=ghcr.io/arrow-air/svc-telemetry
TELEMETRY_TAG=develop
TELEMETRY_PORT_GRPC=50007
TELEMETRY_PORT_REST=8007

# -----------------------------------------------------------
# svc-compliance
# -----------------------------------------------------------
COMPLIANCE_IMAGE=ghcr.io/arrow-air/svc-compliance
COMPLIANCE_TAG=develop
COMPLIANCE_PORT_GRPC=50008
COMPLIANCE_PORT_REST=8008
